#+TITLE: ${TITLE} - Important Objects
#+AUTHOR: ${AUTHOR}
#+STARTUP: overview

* Magical/Special Objects

** Object 1
:PROPERTIES:
:TYPE: Weapon/Artifact/etc.
:OWNER:
:END:

*** Physical Description

*** Origin

*** Properties/Powers

*** Importance in the Plot

*** Object History

* Symbolic Objects

** Symbolic Object 1

*** Description

*** Symbolism

*** Role in the Story

* Relevant Everyday Objects
