#+TITLE: ${TITLE} - Cronología
#+AUTHOR: ${AUTHOR}
#+STARTUP: overview

* Resumen de la Cronología
:PROPERTIES:
:CUSTOM_ID: timeline-overview
:END:

** Cronología de la Historia
| Evento | Fecha/Hora | Personajes | Localización | Notas |
|--------+------------+------------+--------------+-------|
|        |            |            |              |       |

* Eventos Detallados

** Evento 01
:PROPERTIES:
:DATE:
:TIME:
:DURATION:
:CHARACTERS:
:LOCATION:
:CHAPTER:
:END:

*** Descripción

*** Consecuencias

* Cronología del Trasfondo
** Evento Pasado 01
:PROPERTIES:
:DATE:
:RELEVANCE:
:END:
