#+TITLE: ${TITLE}
#+AUTHOR: ${AUTHOR}
#+DATE: ${DATE}
#+LANGUAGE: es
#+STARTUP: overview
#+TODO: TODO(t) BORRADOR(d) REVISANDO(r) | HECHO(x) ENVIADO(s)
#+COLUMNS: %40ITEM(Sección) %12WORDCOUNT %12PoV %30Personajes %20Trama %40Resumen %40Comentario
#+MACRO: scene-break SCENE-BREAK
#+OPTIONS: todo:nil tags:nil

* Información del Cuento :noexport:
:PROPERTIES:
:GENERO:
:PALABRAS_OBJETIVO: 5000
:PALABRAS_ACTUALES: 0
:ESTADO: Borrador
:FECHA_LIMITE:
:END:

** Sinopsis
[Resumen del cuento en un párrafo]

** Seguimiento de Palabras

Para actualizar el recuento de palabras, usa:
- =F8 F8 w= (org-scribe-wordcount, contar ahora)
- =F8 F8 a= (org-scribe-ews-org-count-words, actualizar todos los encabezados)

Los totales diarios los lleva el planificador de escritura incluido, no una
tabla en este archivo: =F8 F8 W=, o =M-x org-scribe-plan= para crear o
cargar un plan.

* Enlaces Rápidos :noexport:
- [[file:README.org][Resumen del Proyecto]]
- [[file:notas.org][Planificación y Notas]]

* Contenido del Cuento

** Inicio
:PROPERTIES:
:WORDCOUNT: 0
:WORD-OBJECTIVE: 1500
:PoV:
:Personajes:
:Trama:
:Linea-temporal:
:Localizacion:
:Descripcion:
:Resumen:
:Motivacion-escena:
:Fuente-conflicto:
:Que-esta-en-juego:
:Emocion:
:Comentario:
:END:

Escribe aquí el inicio...

{{{scene-break}}}

** Desarrollo
:PROPERTIES:
:WORDCOUNT: 0
:WORD-OBJECTIVE: 2000
:PoV:
:Personajes:
:Trama:
:Linea-temporal:
:Localizacion:
:Descripcion:
:Resumen:
:Motivacion-escena:
:Fuente-conflicto:
:Que-esta-en-juego:
:Emocion:
:Comentario:
:END:

Continúa la historia...

{{{scene-break}}}

** Final
:PROPERTIES:
:WORDCOUNT: 0
:WORD-OBJECTIVE: 1500
:PoV:
:Personajes:
:Trama:
:Linea-temporal:
:Localizacion:
:Descripcion:
:Resumen:
:Motivacion-escena:
:Fuente-conflicto:
:Que-esta-en-juego:
:Emocion:
:Comentario:
:END:

La resolución...
