#+TITLE: ${TITLE}
#+AUTHOR: ${AUTHOR}
#+DATE: ${DATE}
#+LANGUAGE: es
#+STARTUP: overview
#+TODO: TODO(t) TOWRITE(h) TOREVIEW(j@/!) REDO(k@/!) RESTRUCTURE(n@/!) | FINISHED(l!) PURGE(ñ@/!)
#+COLUMNS: %40ITEM(Escena) %9WORDCOUNT %12PoV %16Trama %20Punto-de-trama %30Brecha %20Resultado %14Emocion
#+MACRO: scene-break SCENE-BREAK
#+OPTIONS: todo:nil tags:nil

* Objetivos del Proyecto :ignore:noexport:

- Objetivo total de palabras :: 80,000
- Fecha de inicio :: ${DATE}
- Fecha objetivo de finalización ::
- Palabras por día objetivo :: 1,000

# Estas cuatro cifras son una declaración de intenciones, escrita una vez.
# Si activas el planificador de escritura (=F8 F8 W=, o =M-x org-scribe-plan=),
# él se hace cargo: lleva el registro diario, recalcula el objetivo diario
# sobre la marcha y te dice si vas al día.

* Seguimiento del Progreso :ignore:noexport:

** Conteo de Palabras y Progreso
:PROPERTIES:
:WORDCOUNT: 0
:END:

Esta tabla muestra tu conteo de palabras, objetivos y progreso por sección.
Actualízala con =C-c C-c= en la línea #+BEGIN.

# Esta tabla es el único lugar donde el proyecto cuenta palabras. Se genera
# a partir de las propiedades =WORDCOUNT= que refresca =F8 F8 a=, así que
# nunca está desactualizada a propósito. Los totales diarios, los objetivos
# y las rachas son tarea del planificador (más abajo), no de una segunda tabla.

#+BEGIN: org-generate-wordcount-table
| Heading       | Wordcount | Objective | Progress |
|---------------+-----------+-----------+----------|
|               |           |           |          |
#+END:

** Seguimiento Diario de Palabras

Los totales diarios los lleva el planificador de escritura incluido, no una
tabla en este archivo. Ábrelo con =F8 F8 W=, o con =M-x org-scribe-plan=
para crear o cargar el plan del proyecto.

Cuando existe un plan, cada conteo de palabras registra el total de ese día
en su registro, y el planificador informa del objetivo diario, de si vas al
día y de cuántos días quedan. Sus paneles (=F8 F8 W=, luego =D=) dibujan la curva de
progreso, la velocidad, el mejor día y la racha de escritura a partir de ese
registro: cifras que vale la pena leer, y que no vale la pena teclear a mano.

** Seguimiento de Tiempo

Para registrar tiempo de escritura, usa:
- =C-c C-x C-i= (org-clock-in)
- =C-c C-x C-o= (org-clock-out)

*** Sesiones de Escritura

**** ${DATE} Primera sesión
:LOGBOOK:
:END:

** Análisis de Tramas

Esta tabla muestra qué hilos argumentales aparecen en cada escena.
Actualiza con =C-c C-c= en la línea #+BEGIN.

Para reportes detallados de salud, usa =M-x org-scribe-plot-thread-report=.
Para estadísticas rápidas, usa =M-x org-scribe-plot-thread-stats=.

#+BEGIN: plot-thread-timeline
#+END:

** Línea Temporal de Personajes

Esta tabla muestra qué personajes aparecen en cada escena.

Símbolos:
- ◆ = Personaje con Punto de Vista
- ● = Presente en la escena

Actualiza con =C-c C-c= en la línea #+BEGIN.

#+BEGIN: character-timeline
#+END:

* Navegación Rápida :ignore:noexport:
- [[file:README.org][README - Resumen del Proyecto]]
- [[file:objects/personajes.org][Personajes]]
- [[file:objects/localizaciones.org][Localizaciones]]
- [[file:objects/objetos.org][Objetos]]
- [[file:objects/trama.org][Trama]]
- [[file:objects/cronologia.org][Cronología]]
- [[file:notas/notas.org][Notas Generales]]
- [[file:notas/investigacion.org][Investigación]]
- [[file:revision.org][Revisión y Comentarios]]
- [[file:diario-escritura.org][Diario de Escritura]]

* Acto I :ignore:
:PROPERTIES:
:CUSTOM_ID: acto-1
:WORDCOUNT: 0
:WORD-OBJECTIVE: 20000
:END:

** TODO Capítulo 1 :ignore:
:PROPERTIES:
:WORDCOUNT: 0
:WORD-OBJECTIVE: 3000
:END:

*** TODO Escena 1 :ignore:
:PROPERTIES:
:WORDCOUNT: 0
:WORD-OBJECTIVE: 500
:PoV:
:Personajes:
:Trama:
:Punto-de-trama:
:Linea-temporal:
:Localizacion:
:Descripcion:
:Resumen:
:Motivacion-escena:
:Fuente-conflicto:
:Brecha:
:Que-esta-en-juego:
:Problema-mundo:
:Emocion:
:Nivel-tension:
:Resultado:
:Decision-secuela:
:Comentario:
:END:

* Acto II :ignore:
:PROPERTIES:
:CUSTOM_ID: acto-2
:WORDCOUNT: 0
:WORD-OBJECTIVE: 40000
:END:

* Acto III :ignore:
:PROPERTIES:
:CUSTOM_ID: acto-3
:WORDCOUNT: 0
:WORD-OBJECTIVE: 20000
:END:
