#+TITLE: ${TITLE} - Resumen del Proyecto
#+AUTHOR: ${AUTHOR}
#+DATE: ${DATE}
#+STARTUP: overview

* Información del Proyecto
:PROPERTIES:
:PROJECT_START: ${DATE}
:GENRE:
:TARGET-WORDCOUNT:
:DEADLINE:
:END:

** Sinopsis
[Breve resumen de la historia]

** Objetivos de Escritura
- [ ] Completar primer borrador
- [ ] Primera pasada de revisión
- [ ] Comentarios de lectores beta
- [ ] Revisión final
- [ ] Envío/Publicación

** Estructura del Proyecto
- [[file:novela.org][novela.org]] - Manuscrito principal con seguimiento de progreso
- [[file:revision.org][revision.org]] - Notas de edición y comentarios
- [[file:diario-escritura.org][diario-escritura.org]] - Diario reflexivo de escritura
- [[file:objects/personajes.org][objects/personajes.org]] - Perfiles de personajes
- [[file:objects/localizaciones.org][objects/localizaciones.org]] - Descripciones de localizaciones
- [[file:objects/objetos.org][objects/objetos.org]] - Objetos importantes
- [[file:objects/trama.org][objects/trama.org]] - Estructura de la trama
- [[file:objects/cronologia.org][objects/cronologia.org]] - Cronología de eventos
- [[file:notas/investigacion.org][notas/investigacion.org]] - Notas de investigación
- [[file:notas/notas.org][notas/notas.org]] - Notas generales

** Estado Actual
Estado: Planificación/Redacción/Revisión/Completo
Capítulo actual:
Última actualización: ${DATE}
