#+TITLE: ${TITLE} - Research
#+AUTHOR: ${AUTHOR}
#+STARTUP: overview

* Research Topics

** Topic 01
:PROPERTIES:
:CATEGORY:
:PRIORITY:
:STATUS:
:END:

*** Questions to Answer
-

*** Sources
-

*** Key Findings

*** How This Applies to Story

* Reference Materials

** Books

** Articles/Websites

** Interviews/Consultations

** Visual References

* Fact Checking
| Fact | Source | Verified | Notes |
|------+--------+----------+-------|
|      |        |          |       |
