#+TITLE: ${TITLE}
#+AUTHOR: ${AUTHOR}
#+DATE: ${DATE}
#+LANGUAGE: en
#+STARTUP: overview
#+TODO: TODO(t) TOWRITE(h) TOREVIEW(j@/!) REDO(k@/!) RESTRUCTURE(n@/!) | FINISHED(l!) PURGE(p@/!)
#+COLUMNS: %40ITEM(Scene) %9WORDCOUNT %12PoV %16Plot %20Plot-point %30Gap %20Outcome %14Emotion
#+MACRO: scene-break SCENE-BREAK

* Project Goals :ignore:noexport:

- Total word target :: 80,000
- Start date :: ${DATE}
- Target completion date ::
- Daily word target :: 1,000

* Progress Tracking :ignore:noexport:

** Word Count and Progress
:PROPERTIES:
:WORDCOUNT: 0
:END:

This table shows your word count, objectives, and progress by section.
Update it with =C-c C-c= on the #+BEGIN line.

#+BEGIN: org-generate-wordcount-table
| Heading       | Wordcount | Objective | Progress |
|---------------+-----------+-----------+----------|
|               |           |           |          |
#+END:

** Daily Word Tracking

If you want to track here a daily word count, you can use the
=org-tracktable-insert-table= command with an empty line at point.
For more details, check the [[https://codeberg.org/jcastp/org-tracktable/src/branch/main/README.org][org-tracktable documentation]] at
https://codeberg.org/jcastp/org-tracktable/src/branch/main/README.org

#+NAME: tracktable
|---+------------------+-------+-----+---------------+---------|
| * | date             | start | end | total (today) | comment |
|---+------------------+-------+-----+---------------+---------|
|   | initial count    |     0 |   0 |             0 |         |
|---+------------------+-------+-----+---------------+---------|
#+TBLFM: @2$2=initial count::$2='(org-tracktable-stamp)::@2$3=0::$3=(@-1$4)::$4='(org-tracktable-current-count)::$5=$4-$3

** Plot Thread Analysis

This table shows which plot threads appear in which scenes.
Update with =C-c C-c= on the #+BEGIN line.

For detailed health reports, use =M-x org-scribe/plot-thread-report=.
For quick statistics, use =M-x org-scribe/plot-thread-stats=.

#+BEGIN: plot-thread-timeline
#+END:

** Character Timeline

This table shows which characters appear in which scenes.

Symbols:
- ◆ = Point of View character
- ● = Present in scene

Update with =C-c C-c= on the #+BEGIN line.

#+BEGIN: character-timeline
#+END:

* Quick Navigation :ignore:noexport:
- [[file:README.org][README - Project Overview]]
- [[file:objects/characters.org][Characters]]
- [[file:objects/locations.org][Locations]]
- [[file:objects/objects.org][Objects]]
- [[file:objects/plot.org][Plot]]
- [[file:objects/timeline.org][Timeline]]
- [[file:notes/notes.org][General Notes]]
- [[file:notes/research.org][Research]]
- [[file:revision.org][Revision and Feedback]]
- [[file:writing-journal.org][Writing Journal]]

* Act I :ignore:
:PROPERTIES:
:CUSTOM_ID: act-1
:WORDCOUNT: 0
:WORD-OBJECTIVE: 20000
:END:

** TODO Chapter 1 :ignore:
:PROPERTIES:
:WORDCOUNT: 0
:WORD-OBJECTIVE: 3000
:END:

*** TODO Scene 1 :ignore:
:PROPERTIES:
:WORDCOUNT: 0
:WORD-OBJECTIVE: 500
:PoV:
:Characters:
:Beat: Opening Image
:Plot:
:Plot-point:
:Timeline:
:Location:
:Description:
:Summary:
:Scene-motivation:
:Conflict-source:
:Gap:
:What-is-at-stake:
:World-problem:
:Emotion:
:Tension-level:
:Outcome:
:Sequel-decision:
:Comment:
:END:


{{{scene-break}}}
* Act II :ignore:
:PROPERTIES:
:CUSTOM_ID: act-2
:WORDCOUNT: 0
:WORD-OBJECTIVE: 40000
:END:

* Act III :ignore:
:PROPERTIES:
:CUSTOM_ID: act-3
:WORDCOUNT: 0
:WORD-OBJECTIVE: 20000
:END:

# Local Variables:
# eval: (progn
# (setq ispell-local-dictionary "en_US")
# (setq lexical-binding t))
# End:
