#+TITLE: ${TITLE} - Objetos Importantes
#+AUTHOR: ${AUTHOR}
#+STARTUP: overview

* Objetos Mágicos/Especiales

** Objeto 1
:PROPERTIES:
:TIPO: Arma/Artefacto/etc.
:POSEEDOR:
:END:

*** Descripción Física

*** Origen

*** Propiedades/Poderes

*** Importancia en la Trama

*** Historia del Objeto

* Objetos Simbólicos

** Objeto Simbólico 1

*** Descripción

*** Simbolismo

*** Papel en la Historia

* Objetos Cotidianos Relevantes
